<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_empilhadeira"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_empilhadeira"
        android:supportsRtl="true"
        android:theme="@style/Theme.CheckList"
        tools:targetApi="31">

        <activity
            android:name=".view.CadastroUsuarioActivity"
            android:exported="false"
            android:parentActivityName=".view.LoginActivity" />

        <activity
            android:name=".view.MensalActivity"
            android:exported="false" />
        <activity
            android:name=".view.CadastroFuncionarioActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />

        <activity
            android:name=".view.MainMensalActivity"
            android:exported="false" />

        <activity
            android:name=".view.DiarioActivity"
            android:exported="false" />

        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>